:root {
  background-color: var(--cor-fundo);
  --cor-fundo: #8c9bd4;
  font-family: 'Times New Roman', Times, serif;

}
h1{

}

.conteudo-total {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
}
.conteudo {
  padding: 5px;
  border: 3px solid rgb(0, 0, 0);
  width: 45%;
  text-align: center;
  margin: 1%;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
#image {
  text-align: center;
  grid-template-columns: 1 fr;
  justify-content: end;
}
.image2 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1%;
  text-align: justify;
}

#imagetext1 {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr;
}
#titulo {
  color: #000000;
  font-size: 30px;
  text-align: center;
  margin-right: 50px;
  margin-left: 100 px;
}
#h {
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
#p {
  text-align: center;
  font-size: 20px;
}
#header {
  background-color: #ffffff;
}
#h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
#p2 {
  font-size: 16px;
  line-height: 1.5;
}
#brasil {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#introdução {
  font-size: 45px;
  display: grid;
  grid-auto-flow: 3fr 3fr 3fr 3fr;
  text-align: center;
}
#brasil2 > img {
  right: 20px;
}
.bloco-noticia {
  max-width: 700px;
  margin: auto;
}
.bloco-noticia > h1 {
  color: rgb(0, 0, 0);
  font-size: 40px;
}
.bloco-noticia > p {
  font-size: 20px;
}
.news-block {
  width: 30%;
  float: left;
  padding: 10px;
  border: 1px solid #ccc;
  max-height: 300px;
  margin-top: 30px;
  border: 3px solid #000000;
  padding: 5px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 10px 2px 4px rgba(0, 0, 0, 0.1);
}
.brasil2 > p {
  font-size: 40px   
}
.news-article {
  margin: 0;
  padding: 0;
}
.propaganda {
  text-align: center;
}

.propaganda > img {
  border-radius: 40px;
  padding-right: 30px;
  padding-left: 30px;
}
.brasil2 > img {
  display: grid;
  grid-template-columns: max-content;
  text-align: end;
}
.propaganda1 > img{
  text-align: left;
  margin-left: 600PX;
  border: 3px solid black;
  margin-top: 20px
}
.b2 > p { 
  display: flex;
  box-decoration-break: initial;
  align-items: center;
  font-size: 24px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  border: 1 px solid #000000;
}
.b2 > h1 {
  font-size: 40px;
}
#text {
  font-size: 40px;
}
.IMF > img {
  border: solid black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}

